@import 'partials/setup';
@import 'partials/login';
@import 'partials/form';
@import 'partials/recipegrid';
@import 'partials/modal';
@import 'partials/pinneditems';

a {
	text-decoration: none;
	color:black;

}
input {
	text-align: center;
}


*:focus {
	outline:none;
}
body {
	width:100%;
	background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #c9d6ff, #e2e2e2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #c9d6ff, #e2e2e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

	
.calorieInput img {
	width:100px;
	border-radius: 50px;
	position:fixed;
	bottom:0;
	right:0;
}
.logoutContainer {
	height:300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logout {
		background-color: transparent;
		border: solid 2px #E74B37;
		color: white;
		border-radius: 5px;
		padding:10px;
		width:200px;
		margin-top:100px;
		transition: all 0.3s;

	}
.logout:hover {
			background-color: #E74B37;
			color: white;
		}


@media (max-width: 940px) {
			form .calorieInput p {
			margin-top: 120px;
		}
		form .radioInputs input:checked + label {
			transform:none;
			font-weight: 700;
		}
		.googleLogin {
			align-items: center;
			h1,.loginBtn, p {
				margin: 30px 0;
			}

		}



}
@media (max-width: 760px) {
		
		form .calorieInput .picker {
		margin-top:50px;
	}

	form .submitInput {
		margin-bottom: 0px;
	}
	.radioInputs {
		width:33%;
		margin:20px;
	}


}
@media (max-width: 600px) {
.display {
		display: block;
		label {
			display: block;
		}
	}

}

@media (max-width: 480px) {
	.cuisineInput .radioInputs {
		width:100%;
		padding: 0;
	}
	form  {
		padding-bottom: 100px;
	}
	form .submitInput {
		margin-top: 60px;
	}

	form .calorieInput p {
			margin: 10px;
		}
	.calorieInput .picker {
		padding-top: 20px;
	}
	form .radioInputs label img {
		display:none;
	}
	.pinnedItems .pinnedItem li {
		width:100%;
	}
	#modal {
		height:300px;
		width:300px;
	}





}
@media (max-width: 400px) {
}