form {
	text-align: center;
	min-height:100vh;
	color: white;
	display:flex;
	background-image: url('../../assets/hero.jpg');
	background-position: center center;
	background-size:cover;

	flex-direction: column;
	justify-content: space-around;
	font-family: 'Montserrat', sans-serif;
	font-size:24px;
	align-items: center;
	.topbar {
		width:100%;
		background-color: goldenrod;
		height:75px;
		color: white;
		position: fixed;
		top:0;
		display:flex;
		justify-content: space-between;
		align-items: center;
		font-family:'Lobster', cursive;
		a {
			color:white;
			margin: 2vw;
			cursor:pointer;
		}
		p {
			margin: 2vw;
		}
	}
	p {
		margin-bottom:1.39vw;
	}
	.calorieInput{

		margin-top:1.39vw;
		p {
			padding-top:170px;
		

		}
		img {
			width:100px;
			height:100px;
		}
	}
	.cuisineInput {
		width:100%;
		display:flex;
		flex-wrap:wrap;
		justify-content: space-around;
	}
	.radioInputs{
		
			padding-bottom: 120px;

			label {
				padding:10px;
				border-radius:5px;
				border: 1px solid goldenrod;
				background-color: white;
				color:black;
				font-family:  'Lobster', cursive;
				cursor: pointer;
				display:flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				img {
					display: none;
					width:100px;
					height:100px;
				}
			}
			input:checked + label {
				transform: scale(1.5);


			}
			input{
					display:none;
					text-align: center;


			}
	}
	.submitInput {
		background-color: transparent;
		border: solid 2px goldenrod;
		border-radius: 5px;
		color:white;
		padding:10px;
		margin-bottom:50px;
		transition: all 0.3s;

	}
	.submitInput:hover{
		background-color: goldenrod;
		color: white;
	}
}